.header {
    padding: 5px;
    background-color: var(--header-backgraund);
}

.header__name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    flex-direction: column;
}

.header__menu-item {
    text-decoration: none;
    color: var(--text-color);
}

@media (min-width: 500px) {
    .header__name {
        flex-direction: row;
    }
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
        align-items: center;
    }
    .header__menu {
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
    }
    .header__logo {
        display: flex;
        width: 60px;
        align-items: center;
        align-content: center;
    }
}
@media (min-width: 320px) {
    .header__logo {
        display: flex;
        width: 60px;
    }
    .header__name {
        flex-direction: row;
    }
}