.block__text-video {
    min-height: 100%;
}

.block__text-page-one {
    background-color: #e3d0cb;
}

.block__text-page-two {
    background-color: #cfc3db;
}

.block__text-page-three {
    background-color: #bed1b5;
}

.block_container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.block__body {
    padding: 50px;
}
.block__title {
    font-size: 30px;
    line-height: 100%;
    margin: 0px 0px 20px 0px;
}

.block__text {
    font-size: 16px;
    line-height: 100%;
}

@media (max-width: 1200px) {
    .block__body {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
    .block__title {
        font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
}


.features__carousel-gradient {
    height: 15px;
    width: auto;
    background-image: linear-gradient(105deg, #17C89D 39%, #346BC0 96%);
}

.features__carousel-information {
    height: 200px;
    width: auto;
    background: #1a1c28;;
}
.features__carousel-block {
    width: 260px;
    height: 215px;
    padding: 10px 15px 5px 10px;
}

.features__carousel-features {
    
    padding: 20px 0px 5px 0px;
}
.features__carousel-benefit {
    
    padding: 20px 5px 5px 5px;
    text-align: left;
    font-size: 17px;
    font-style: ;
}
