.block__text-video {
    min-height: 100%;
}

.block__text-page-one {
    background-color: #794f45;
}

.block__text-page-two {
    background-color: #77608d;
}

.block__text-page-three {
    background-color: #7a956b;
}

.block_container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.block__body {
    padding: 50px;
}
.block__title {
    font-size: 30px;
    line-height: 130%;
    margin: 0px 0px 20px 0px;
}

.block__text {
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .block__body {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
    .block__title {
        font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
}